@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-text bg-slate-50;
  }
}